.titulo {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.bonequinha {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
}


.sobremim {
    padding-left: 10rem;
    padding-right: 10rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 70px;
    padding-bottom: 150px;
}

.sobremim h2 {
    text-align: center;
    font-size: 60px;
    color: black;
}

.sobremim p {
    font-size: 30px;
    color: white;
    position: absolute;
    z-index: 1; 
    padding-top: 450px;
    padding-left: 650px;
    

}

.fundo{
    position: relative;
    padding-left: 180px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
}

img {
  transition: all 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

